h1{
    font-weight: bolder;
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
}
#body1{
    background-color: white;
}
#body2{
    background-color: black;
    margin-left: 33%;
    margin-right: 33%;
    margin-bottom: auto;
    margin-top: auto;
}
.b1{
    border-radius: 20%;
    font-size: large;
}
#button1{
    text-align: center;
    display: flex; /* Enables Flexbox */
    justify-content: center; /* Aligns buttons horizontally in the center */
    gap: 10px;
}
#pre1{
    text-align: center;
    margin-left: 33%;
    margin-right: 33%;
    font-size: large;
}
#b2{
    font-size: large;
    margin-left: 33%;
    margin-right: 33%;    
}
#button2{
    text-align: center;
}
#black_box{
    width: auto; /* Width of the box */
    height: 200px; /* Height of the box */
    background-color: black; /* Black background */
    color: green;
    text-align: left;
    margin-left: 33%;
    margin-right: 33%;
}
#pre2{
    font-size: large;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(255, 0, 183);
}
/* From Uiverse.io by Codecite */ 
.btn {
  border-color: black;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
  color: black;
  background-image: linear-gradient(
    to bottom,
    var(--fancy-button-gradient-0) 0%,
    var(--fancy-button-gradient-50) 50%,
    var(--fancy-button-gradient-100) 100%
  );
  box-shadow:
    0px 4px 12px rgba(9, 12, 60, 0.15),
    0px 2px 8px rgba(9, 12, 60, 0.15),
    0px 1px 3px var(--fancy-button-inner-shadow-top-lg),
    inset 0px 1px 1px var(--fancy-button-inner-shadow-top),
    inset 0px -1px 3px var(--fancy-button-inner-shadow-bottom);
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  border-radius: inherit;
  will-change: transform;
}

.btn:before {
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--fancy-button-shine-top);
  width: 96px;
  height: 6px;
  top: -3px;
  opacity: 0.6;
  filter: blur(6px);
  transition: opacity 0.25s;
}

.btn:after {
  inset: 0;
  background-size: cover;
  z-index: 2;
  opacity: 0.3;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.btn span {
  display: block;
  padding: 12px 24px;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    var(--fancy-button-shine-top),
    transparent 8px
  );
  background-position: 0 -6px;
  background-repeat: no-repeat;
  z-index: 1;
}

.btn span:before,
.btn span:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--fancy-button-shine-bottom);
  transition:
    opacity 0.25s,
    transform 0.25s;
  will-change: transform;
}

.btn span:before {
  width: 92px;
  height: 8px;
  bottom: -4px;
  opacity: 0.75;
  filter: blur(6px);
}

.btn span:after {
  width: 112px;
  height: 1px;
  bottom: 0;
  opacity: 0.9;
  filter: blur(1px);
}

.btn:hover span:before {
  opacity: 0.8;
}

.btn:hover span:before {
  transform: translateX(-50%) scale(1.25);
}

.btn:hover span:after {
  opacity: 1;
}
