/* Background layer */
#background {
  position: fixed;       /* stays in place */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  /* background: url("ponti_treviso.png") no-repeat center center fixed; */
  background-size: cover;
  z-index: -1;           /* behind everything */
}

/* Foreground layer */
.foreground {
  background-color: #f9f9fc;
  border-top-left-radius: 30px;   /* rounded top edges */
  border-top-right-radius: 30px;
  border-radius: 30px;
  padding: 40px 20px;
  max-width: 900px;
  height: 700px;
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2); /* optional depth */
}
.ebook-container {
    width: 100%;
    max-width: 850px;
    height: 480px;
    margin: 0 auto;
    box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16);
    border-radius: 8px;
    overflow: hidden;
}
.ebook-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
h1{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
}
pre{
    max-width: 100%; 
    white-space: pre-wrap; 
    word-wrap: break-word;
}